header{
	background: #BBBBBB ;
	padding: 20px 0;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin:0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
#banner{
	width: 100%;
}
.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado{
	text-align: center;
}
p {
	text-align: center;
}

#missao{
	font-size: 20px
}
em strong{
	color: red;
}
.beneficios{
 	background: #FFFFFF;
 	padding: 20px;
}
.itens{
	font-style: italic;
}

.home-lista{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;

}
.imagembeneficios{
	width: 50%;
}
footer{
	text-align: center;
	background: url("bg.jpg");

}
.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}